@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

.rainbow-outline {
    animation: rainbow-border 3s linear infinite;
    border-style: dotted;
    border-width: 8px;
}